args==0.1.0
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
Click==7.0
clint==0.5.1
cryptography==2.8
Flask==1.1.1
gevent==1.4.0
grpcio==1.24.3
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.13.2
languageflow==1.1.13a1
MarkupSafe==1.1.1
numpy==1.16.5
Pillow==6.2.1
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
pyOpenSSL==19.0.0
python-crfsuite==0.9.6
pytz==2019.3
requests==2.22.0
rsa==4.0
scikit-learn==0.20.3
six==1.12.0
tabulate==0.8.5
tqdm==4.36.1
urllib3==1.25.6
Wand==0.5.7
Werkzeug==0.16.0
